/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 1em;
}

nav a {
	text-decoration: none;
	color: #000000;
}

h1 {
	font-family: ambroise-std, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	color: #222222;
	line-height: 1.2em;
	letter-spacing: 6px;
	text-transform: uppercase;
}

h2 {
	font-family: ambroise-std, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3vw;
	color: #222222;
	line-height: 68.6px;
	letter-spacing: 1.96px;
}

/* LOGO */
h3 {
	font-family: ambroise-std, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	color: #222222;
	line-height: 19px;
	letter-spacing: 5.7px;
}

p {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #000000;
	line-height: 34.5px;
	letter-spacing: 0.45px;
}
/* LOGO */

h4 {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	color: #000000;
	line-height: 34.5px;
	letter-spacing: 0.45px;
	font-style: italic;
}

/* BUTTON */
.btn {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #000000;
	line-height: 34.5px;
	letter-spacing: .35em;
	text-transform: uppercase;

	text-decoration: none;
	padding: 5px 26px;
	border: 2px solid #333;
	border-radius: 3px;
	transition: 0.3s;
}

.btn:hover {
	background-color: #333;
	color: white;
}
/* BUTTON */

/* LINK */
.link {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #9c9c9c;
	line-height: 34.5px;
	letter-spacing: 0.45px;
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
}

.link:hover {
	color: #000000;
}
/* LINK */

/* NAV-LINK */
.nav-link {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #222222;
	line-height: 34.5px;
	letter-spacing: 0.45px;
	text-decoration: none;
	list-style: none;
}

li {
	text-decoration: none;
	list-style: none;
}

.nav-link:hover {
	color: #f7933b;
}


/* NAV BAR */
nav {
	grid-area: nav;
	height: 100%;
	background-color: white;
	line-height: 1em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;

	padding: 4.5em 0;
	margin: 0 4em;
}

nav ul {
	display: flex;
}

nav li {
	margin-left: 20px;
}

nav input, label {
	display: none;
}


@media only screen and (max-width: 550px) {
	h1 {
		font-size: 1.2;
	}

	h2 {
		font-size: 23px;
	}


	/* NAV BAR */
	nav {
		grid-area: nav;
		height: 100%;
		position: sticky;
		background-color: white;
		top: 0;

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;

		padding: 15px;

		margin: 0;
	}

	nav label {
		display: block;
		font-size: 1.5em;
		line-height: 1em;
	}

	ul {
		display: flex;
		flex-direction: column;
		transform:translateX(-100em);
		opacity: 0;
		transition: 0.5s;
	}


	#toggle:checked + ul {
		transform:translateX(0);
		opacity: 100;
    }

	.nav-menu {
		position: absolute;
		top: 50px;
		left: 0;

		width: 100%;
		height: 100vh;
		background-color: white;
		padding-top: 50%;
	}

	nav li {
		margin: 30px 0;
	}

	.nav-link {
		font-size: 1.5em;
	}
}