/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: ambroise-std, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3vw;
	color: #222222;
	line-height: 68.6px;
	letter-spacing: 1.96px;
}

/* LOGO */
h3 {
	font-family: ambroise-std, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	color: #222222;
	line-height: 19px;
	letter-spacing: 5.7px;
}

p {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #000000;
	line-height: 34.5px;
	letter-spacing: 0.45px;
}
/* LOGO */

strong {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	color: #000000;
	line-height: 34.5px;
	letter-spacing: 0.45px;
	font-style: italic;
}

/* BUTTON */
.btn {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #000000;
	line-height: 34.5px;
	letter-spacing: .35em;
	text-transform: uppercase;

	text-decoration: none;
	padding: 5px 26px;
	border: 2px solid #333;
	border-radius: 3px;
	transition: 0.3s;
}

.btn:hover {
	background-color: #333;
	color: white;
}
/* BUTTON */

/* LINK */
.link {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #9c9c9c;
	line-height: 34.5px;
	letter-spacing: 0.45px;
	text-decoration: none;
	transition: 0.3s;
}

.link:hover {
	color: #000000;
}
/* LINK */

/* NAV-LINK */
.nav-link {
	font-family: calluna, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #222222;
	line-height: 34.5px;
	letter-spacing: 0.45px;
	text-decoration: none;
}

.nav-link:hover {
	color: #f7933b;
}
/* NAV LINK */

/* MOBILE */
/* @media only screen and (max-width: 600px) { */
/* header */

/* header {
		display: flex;
		justify-content: space-between;

		padding: 14px 0;
		margin: 0 12px;

		height: 100%;
		background-color: white;
	}

	nav i {
		color: #222222;
	}

	.menu-btn {
		margin-left: 20px;
	}

	.nav-menu {
		display: none;
		position: absolute;
		top: 47px;
		left: 0;
		right: 0;
		bottom: 0;

		width: 100%;
		background-color: white;
	}

	.nav-menu nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		height: 100%;
	}

	.nav-menu nav a {
		margin-bottom: 20px;
		font-size: 22px;
	} */

/* end of header */

/* main */
/* main {
		padding: 0 22px;
	} */
/* 
	main h1 {
		text-align: center;
	} */
/* end of main */
/* } */

/* GRID RESPONSIVE */
body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
		'nav nav nav' 
		'header header header' 
		'main main main' 
		'footer footer footer'
		'footer-menu footer-menu footer-menu'
	;
	gap: 0.5em;
	text-align: center;
	position: relative;
}

nav {
	grid-area: nav;
	height: 85px;
	background-color: #f7f7f7;
	/* position: sticky;
	top: 0; */

	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	grid-area: header;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin-top: 100px;
	margin-bottom: 50px;
}

header strong {
	margin-top: 40px;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 
		'menu-garden menu-sea menu-land' 
		'image-devider image-devider image-devider'
		'menu-dessert menu-dessert menu-dessert' 
		'cta cta cta';
	gap: 0.5em;
	grid-area: main;
}

.menu {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}

.menu strong {
	margin-bottom: 40px;
}

.menu p {
	margin: 20px 0;
}

#menu-garden {
	grid-area: menu-garden;
}

#menu-sea {
	grid-area: menu-sea;
}

#menu-land {
	grid-area: menu-land;
}

#image-devider {
	grid-area: image-devider;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 80px 0;
}

#image-devider img {
	width: 90%;
}

#menu-dessert {
	grid-area: menu-dessert;
}

#menu-dessert strong {
	margin-top: 40px;
}

#cta {
	grid-area: cta;
	
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 100px 0;
}

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		'footer-1 footer-2 footer-3'
	;
	gap: 0.5em;
	grid-area: footer;

	padding: 70px 0;
	margin: 0 70px;
	border-top: 1px solid #e1e1e1;
}

#footer-1 {
	grid-area: footer-1;
	
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

#footer-2 {
	grid-area: footer-2;
	
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

#footer-3 {
	grid-area: footer-3;

	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

#footer-menu {
	grid-area: footer-menu;

	height: 100vh;

	background-image: url(../images/ss_home.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-width: 550px) {
	h2 {
		font-size: 23px;
	}

	main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 
			'menu-garden'
			'menu-sea'
			'menu-land'
			'image-devider'
			'menu-dessert'
			'cta'
		;
	}

	footer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 
			'footer-1'
			'footer-2'
			'footer-3'
		;
		padding: 50px 0;
		margin: 0 50px;
	}

	#image-devider img {
		width: 100%;
	}

	.footer {
		padding: 30px 0;
	}
}